<div>
    <img class="logo" src="/img/logo.svg" alt="logo"/>
    <h2>Credentials:</h2>
    <input class="input" placeholder="Email address">
    <input class="input" placeholder="Password" type="password">
</div>

<div class="buttonBox">
    <div class="button">Register</div>
    <div class="button">Login</div>
</div>

<div>
    <h2>Tokens:</h2>
    <input class="input block" placeholder="Acces token">
    <input class="input block" placeholder="Refresh token" type="password">
</div>

<div class="buttonBox">
    <div class="button long">↻ Acces token</div>
    <div class="button long">Logout</div>
</div>